* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
}

:root {
  --white: #ffffff;

  --blue-100: #06337D;
  --blue-300: #022257;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Architects Daughter', cursive;
}

header {
  width: 100%;
  height: 3.5rem;
  background: var(--blue-300);
  color: var(--white);
  font-size: 0.7rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 992px;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main > h2 {
  font-family: 'Architects Daughter', cursive;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

main > p {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

article {
  margin-bottom: 6rem;
  background: var(--blue-100);
  color: var(--white);
  padding: 1.8rem 10px;
  padding-bottom: 0;
  border-radius: 20px;
}

article:last-child {
  margin-bottom: 3rem;
}

article h2 {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}

article h3 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

article p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

article img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

article > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

article > ul > li + li {
  margin-left: 10px;
}

article > ul > li img {
  width: 100%;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 3.5rem;
  padding: 0 20px;
  background: var(--blue-300);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.7rem;
}

footer a {
  text-decoration: none;
  color: var(--white);
  font-style: italic;
}

@media (min-width: 576px) {
  html {
    font-size: 93.75%;
  }

  main {
    padding: 0 20px;
  }

  article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    padding: 2rem;
    padding-bottom: 0;
  }

  article img {
    width: 80%;
  }

  footer p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  article > div {
    display: flex;
    flex-direction: initial;
  }

  article > div > div {
    margin-right: 20px;
  }

  article > div h2 {
    text-align: initial;
  }

  article > div h3 {
    text-align: initial;
  }

  footer p {
    font-size: initial;
  }
}

@media (min-width: 992px) {
  article > div h2 {
    font-size: 2rem;

    margin-bottom: 1.6rem;
  }

  article > div h3 {
    font-size: 1.5rem;

    margin-bottom: 3rem;
  }

  html {
    font-size: 100%;
  }
}

/*  CLASSES */

.summer {
  color: #FFDB9C;
}

.winter {
  color: #FF0070;
}